.error-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    width: 100%;
    padding: 100px 0 0 0;
    @include menu-tablet{
        padding: 200px 0 0 0;
    }

    @include small-tablet{
        padding: 100px 0 0 0;
    }
    @include little-phone{
        padding: 50px 0 0 0;
    }
}

.error-title-big-letters {
    font-family: FuturaPTDemi;
    color: $color-header-blue-2;
    font-size: 6rem;
    @include little-phone{
        font-size: 4rem;
    }
    @include extra-phone-big{
        font-size: 3rem;
    }
}

.error-title-medium-letters {
    font-family: FuturaPTDemi;
    color: $color-header-blue-2;
    font-size: 3rem;
    @include little-phone{
        font-size: 2rem;
    }
    @include extra-phone-big{
        font-size: 1.8rem;
    }
    @include extra-phone{
        font-size: 1.6rem;
    }
}

.error-title-big-letters-404 {
    font-family: FuturaPTDemi;
    color: rgba(18, 47, 114, 0.200);
    font-size: 58rem;
    position: relative;
    // text-align: center;
    // justify-content: center;
    @include middle-tablet{
        font-size: 40rem;
    }
    @include phone{
        font-size: 35rem;
    }
    @include custom-phone{
        font-size: 32rem;
    }
    @include little-phone{
        font-size: 28rem;
    }
    @include small-phone{
        font-size: 22rem;
    }
    @include extra-phone-big{
        font-size: 18rem;
    }
}

.error-title-error-splash-img {
    position: absolute;
    padding: 19rem 0 0 37%;


@include desktop-plus {
    padding: 19rem 0 0 35%;
}
@include desktop {
    padding: 19rem 0 0 34%;
}
@include desktop-notebook-plus{
    padding: 19rem 0 0 32%;
}
// @include desktop-notebook
@include desktop-laptop-plus{
    padding: 19rem 0 0 31%;
}
@include desktop-laptop
@include desktop-little {
    padding: 19rem 0 0 30%;
}
@include desktop-block-plus{
    padding: 19rem 0 0 28%;
}
@include desktop-block{
    padding: 19rem 0 0 25%;
}
// @include menu-tablet
@include middle-tablet{
    padding: 16rem 0 0 27%;
}
@include small-tablet{
    padding: 16rem 0 0 24%;
}
@include tablet{
    padding: 16rem 0 0 23%;
}
// @include portrait-tablet
@include phone{
    padding: 15rem 0 0 25%;
}
@include custom-phone{
    padding: 14rem 0 0 23%;
}
@include big-phone{
    padding: 14rem 0 0 23%;
}
@include little-phone{
    padding: 11rem 0 0 26%;
}
@include small-phone{
    padding: 10rem 0 0 19%;
}
@include extra-phone-big{
    padding: 10.5rem 0 0 14%;
}
@include extra-phone{
    padding: 7rem 0 0 13%;
}

}

.__error-title-error-splash-img{
max-width: 100%;
max-height: 100%;
height: auto;
width: auto;
-o-object-fit: contain;
object-fit: contain;
@include middle-tablet{
    max-width: 417px;
}
@include phone{
    max-width: 320px;
}

@include little-phone{
    max-width: 225px;
}
}

.button-back-to-main-page {
    font-family: FuturaPTDemi;
    color: $color-header-blue-2;
    font-size: 2rem;
    padding-top: 8rem;
    // border-bottom: 0.1rem solid @include color-header-blue-2;
    // display: inline-block;
    // line-height: 0.85;
    // @include middle-tablet{
    //     padding-top: 12rem;
    // }
    @include little-phone{
        font-size: 1.4rem;
    }
    @include little-phone{
        padding-top: 4rem;
    }
    @include extra-phone-big{
        padding-top: 8rem;
    }

}

.__button-back-to-main-page {
    border-bottom: 0.15rem solid $color-header-blue-2;
    display: inline-block;
    line-height: 0.85;

}

