
.h1-fourth-section {
    font-size: 6rem;
    width: 100%;
    color: $color-header-drop-black;
    font-family: FuturaPTDemi;
    text-align: center;
    padding: 3% 0;
}

.fourth-section-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 128rem;
    max-height: 98rem;
    margin: 1% 15%;
}

.fourth-flex-item-big {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 98rem;
}

.fourth-flex-item-medium {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 64rem;
}

.flex-item-reverse {
    flex-direction: row-reverse;
}

.fourth-flex-item-small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 32rem;
    width: 32rem;
}

.backgrocol {
    background-color: $color-header-drop-active;
}

.fourth-section-paragraph {
    // height: 30rem;
    font-size: 3.6rem;
    padding: 7% 0 7% 13%;
    // width: 100%;
    max-width: 97%;
    color: #fff;
    font-family: FuturaPTDemi;
    position: relative;
}

.fourth-section-paragraph::after {
    position: absolute;
    content: "";
    display: block;
    width: 6rem;
    height: 0.1rem;
    background: $color-background-1;
    margin: 2rem 0 0 0;
}
