

.general-novomoskovsk-information-big-letters-3 {
    font-family: FuturaPTDemi;
    font-size: 4.8rem;
    color: $color-header-blue-2;
    max-width: 55rem;
    padding: 0 0 5rem 0;
}

.general-novomoskovsk-information-medium-letters-3 {
    font-family: FuturaPTDemi;
    font-size: 3.0rem;
    color: rgba(0, 0, 0, 0.800);
    padding: 0 0 1rem 0;
}

.general-novomoskovsk-information-small-letters-3 {
    font-family: FuturaPTBook;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.800);
    padding: 0 0 10rem 55rem;
    max-width: 119rem;
    line-height: 4rem;

    
}

.novomoskovsk-prod-medium-letter {
    font-family: FuturaPTDemi;
    font-size: 2.0rem;
    color: rgba(0, 0, 0, 0.800);
    max-width: 32rem;
}

.novomoskovsk-prod-medium-letter-1 {
    font-family: FuturaPTDemi;
    font-size: 2.0rem;
    color: rgba(0, 0, 0, 0.800);
    max-width: 29rem;
}

.novomoskovsk-prod-discr {
    font-family: FuturaPTBook;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.800);
    padding: 7rem 0;
    line-height: 4rem;
    max-width: 45%;
}

.__novomoskovsk-prod-discr {
    padding: 1.5rem 0;
}

.novomoskovsk-prod-discr-2 {
    font-family: FuturaPTBook;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.800);
    padding: 7rem 0 0 50%;
    line-height: 4rem;
    max-width: 87%;
}

.__novomoskovsk-prod-discr-2 {
    padding: 1.5rem 0;
}

.novomoskovsk-zig-zag-bottom-2 {
    -webkit-transform: translate(240px, -35px);
}

.novomoskovsk-prod-discr-3 {
    padding: 5rem 0 0 0;
    
}

.__novomoskovsk-prod-discr-3 {
    font-family: FuturaPTBook;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.800);
    // padding: 7rem 0 0 50%;
    line-height: 4rem;
    max-width: 82%;
}

.novomoskovsk-zig-zag-bottom-3 {
    -webkit-transform: translate(93px, -21px);
}

.novomoskovsk-prod-discr-4 {
    padding: 10rem 0 5rem 0;
    
}

.__novomoskovsk-prod-discr-4 {
    font-family: FuturaPTBook;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.800);
    // padding: 7rem 0 0 50%;
    line-height: 4rem;
    max-width: 81%;
}

.novomoskovsk-zig-zag-bottom-4 {
    -webkit-transform: translate(390px, -21px);
}

.novomoskovsk-prod-discr-5 {
    padding: 5rem 0 0 0;
    
}

.__novomoskovsk-prod-discr-5 {
    font-family: FuturaPTBook;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.800);
    padding: 10rem 0 0 5rem;
    line-height: 4rem;
    max-width: 76%;
}

.novomoskovsk-zig-zag-bottom-5 {
    -webkit-transform: translate(5rem, 2rem);
}

.novomoskovsk-zig-zag-top-5 {
    -webkit-transform: translate(5rem, 9rem);
}

.novomoskovsk-prod-discr-6 {
    padding: 10rem 0 5rem 0;
    
}

.__novomoskovsk-prod-discr-6 {
    font-family: FuturaPTBook;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.800);
    // padding: 7rem 0 0 50%;
    line-height: 4rem;
    max-width: 81%;
}

.novomoskovsk-zig-zag-bottom-6 {
    -webkit-transform: translate(96rem, -2rem);
}
