$blue:      #007bff;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #e83e8c;
$red:       #dc3545;
$orange:    #fd7e14;
$yellow:    #ffc107;
$green:     #28a745;
$teal:      #20c997;
$cyan:      #17a2b8;
$white:     #fff;
$gray:      #6c757d;
$gray-dark: #343a40;
$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;
$color-blue: #ff00ff;
$color-background-1: #ffffff;
$color-background-2: #F2F2F2;
$color-background-blue: #07256C;
$color-header-blue-1: #002169;
$color-header-blue-2: #122F72;
$color-header-grey: #333333;
$color-header-drop-black: #000000;
$color-header-drop-active: #022169;
$color-dark-white: #F2F2F2;
$color-yellow: #FABB2B;
$color-red: #C82126;
$color-green: #549141;
$color-light-grey: #D6D6D6;
$pop-up-background: rgba(#132757, 0.6);
$pop-up-close-cross: #C4C4C4;


