    @font-face {
        font-family: 'FuturaPTBold';
        src: url('assets/fonts/FuturaPTBold.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTBoldOblique';
        src: url('assets/fonts/FuturaPTBoldOblique.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTBook';
        src: url('assets/fonts/FuturaPTBook.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTBookOblique';
        src: url('assets/fonts/FuturaPTBookOblique.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTCondBold';
        src: url('assets/fonts/FuturaPTCondBold.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTCondBoldOblique';
        src: url('assets/fonts/FuturaPTCondBoldOblique.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTCondBook';
        src: url('assets/fonts/FuturaPTCondBook.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTCondBookOblique';
        src: url('assets/fonts/FuturaPTCondBookOblique.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTCondExtraBold';
        src: url('assets/fonts/FuturaPTCondExtraBold.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTCondExtraBoldOblique';
        src: url('assets/fonts/FuturaPTCondExtraBoldOblique.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTCondMedium';
        src: url('assets/fonts/FuturaPTCondMedium.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTCondMediumOblique';
        src: url('assets/fonts/FuturaPTCondMediumOblique.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTDemi';
        src: url('assets/fonts/FuturaPTDemi.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTCondDemiOblique';
        src: url('assets/fonts/FuturaPTDemiOblique.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTExtraBold';
        src: url('assets/fonts/FuturaPTExtraBold.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTExtraBoldOblique';
        src: url('assets/fonts/FuturaPTExtraBoldOblique.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTHeavy';
        src: url('assets/fonts/FuturaPTHeavy.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTLight';
        src: url('assets/fonts/FuturaPTLight.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTLightOblique';
        src: url('assets/fonts/FuturaPTLightOblique.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTMedium';
        src: url('assets/fonts/FuturaPTMedium.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'FuturaPTMediumOblique';
        src: url('assets/fonts/FuturaPTMediumOblique.otf') format('opentype');  
        font-weight: normal;
        font-style: normal;
    }